table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
  }
th, td {
	padding: 5px;
	text-align: center;
}
table{
	margin-top: 40px;
}

.credit{
	color: green;
}

.debit{
	color: red;
}

.histNav{
	width: 40px;
	text-decoration: none;
}