<!DOCTYPE html>
<head>
	<title>Create new password</title>
	<link rel="stylesheet" href="/css/globalStyle.css">
	<link rel="stylesheet" href="/css/loginStyle.css">
	<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
	<div class="navBar">
		<img id="nav-logo" width="50" alt="Angular Logo" src="/images/logo.png">
	</div>
	<div class="containerLogin">
		<h1 style="margin-left:10px;" id="Login">Create new password</h1>
		<form action="/updatePassword" method="post">
			<input type="hidden" name="username" th:value="${username}">
			<input type="hidden" name="token" th:value="${token}">
			<p class="label" >Password</p><br>
			<input class="inputStyle" type="text" autofocus="true" oninput="clearthis(this)" name="password"><br>
			<p class="error"></p>
			<p class="label" >Confirm password</p><br>
			<input class="inputStyle" type="password" oninput="clearthis(this)"><br>
			<p id="passwordError" class="error"></p>
			<input class="buttonStyle" type="submit" value="Submit">
		</form>
	</div>
</body>
</html>