<!DOCTYPE html>
<head>
	<title>forgotPassword</title>
	<link rel="stylesheet" href="/css/globalStyle.css">
	<link rel="stylesheet" href="/css/loginStyle.css">
	<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
	<div class="navBar">
		<img id="nav-logo" width="50" alt="Angular Logo" src="/images/logo.png">
	</div>
	<div class="containerLogin">
		<h2>Email with password reset link sent to your email</h2>
		<a class="buttonStyle2" href="/login">Login</a>
	</div>
</body>
</html>