<!DOCTYPE html>
<head>
	<title>forgotPassword</title>
	<link rel="stylesheet" href="/css/globalStyle.css">
	<link rel="stylesheet" href="/css/loginStyle.css">
	<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
	<div class="navBar">
		<img id="nav-logo" width="50" alt="Angular Logo" src="/images/logo.png">
	</div>
	<div class="containerLogin">
		<h1 style="margin-left:10px;" id="Login">Forgot password</h1>
		<form action="/forgotPassword" onsubmit="return validate()" method="post">
			<p class="label" >Username</p><br>
			<input id="usernamelogin" class="inputStyle" type="text" autofocus="true" oninput="clearthis(this)" name="username"><br>
			<p id="usernameError" class="error"></p>
			<input class="buttonStyle" type="submit" value="Send me password reset link">
		</form>
	</div>
</body>
</html>